* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

div#espaco {
  background-image: url("../imagens/espaco.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div#astronauta {
  background-image: url("../imagens/astronauta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
